.button {
    display: inline;
    margin: 30px;
    padding: 30px 35px;
    font: 300 150% langdon;
    /* background: transparent; */
    border: 3px solid black;
    cursor: pointer;
    min-width: 200px;
} 


button:hover {
    border: 1px solid #8b8b8b;
}
  
button:active {
    border: 1px solid black;
}

.center {
    text-align: center;
}

.image{
    max-width: 450;
}

/* @media (max-width: 400px){
    .image{
        max-width: 150;
    }
} */