.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
  
/* Colors for sticky notes */
.buttonGreen {background-color: #4CAF50;} /* Green */
.buttonBlue {background-color: #008CBA;} /* Blue */
.buttonPurple {background-color: #8941d1;} /* Purple */
.buttonOrange {background-color: #e09d20;} /* Orange */

/* Sticky note presets to center it */
.stickyNote {
    min-width: 1000px;
    max-width: 1000px;
    min-height: 755px;
    max-height: 755px;
    margin: 0;
    position: absolute;
    left: 15%;
    font-size: 80px;
}   